.stage {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.activeSlide {
  pointer-events: auto;
}

.inactiveSlide {
  pointer-events: none;
}
